<div>
  <h1>estoy en productos hbs</h1>
</div>

<div>
  <a href="/">Volver al inicio</a>
  <br />
  <h2>productos</h2>
</div>
{{#if products.length}}

  <h2>probando</h2>
{{#each products}}

    <table class="table table-dark">
        <tr style="color: yellow;">
            <th>Nombre</th>
            <th>Precio</th>
            <th>URL imagen</th>
        </tr>

        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{price}}
            </td>

            <td>
                {{desc}}
            </td>

            <td>
                {{codigo}}
            </td>

            <td>
                {{timestamp}}
            </td>

            <td>
                {{id}}
            </td>
            <td>
                {{!-- <img src={{url}} alt="Imagen del producto" width="30" height="30"> --}}
                {{url}}
            </td>
        </tr>

        <tbody id='tablaProductos'></tbody>
    </table>



  {{/each}}

  {{else}}

    <tr>
            <td>
                {{products.name}}
            </td>
            <td>
                {{products.price}}
            </td>

            <td>
                {{products.desc}}
            </td>

            <td>
                {{products.codigo}}
            </td>

            <td>
                {{products.timestamp}}
            </td>

            <td>
                {{products.id}}
            </td>
            <td>
                <img src={{products.url}} alt="Imagen del producto" width="30" height="30">
            </td>
        </tr>
  

{{/if}}